.owner-layout {
  display: flex;
  height: 100vh;
  background-color: #f4f1ea;
}

.owner-content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.owner-header h1 {
  margin-bottom: 25px;
  font-size: 28px;
  color: #1e3a8a;
}

/* CARDS */
.stats-row {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.stat-card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.3s;
  color: #1e3a8a;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.gold-card {
  background: #facc15;
}

/* GRÁFICA */
.chart-section {
  height: 300px;
  background: white;
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}

/* ALERTAS */
.alerts-section h2 {
  margin-bottom: 15px;
  color: black;
}

.alerts-box {
  height: 150px;
  background: white;

  color: black;


  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}




/*  Diseño del fuckin modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px; /* Un poco más de aire */
  border-radius: 12px;
  width: 450px; 
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.2s ease-in-out;


  display: flex;
  flex-direction: column; 
  gap: 15px;             
  text-align: center;  
  color: black;
}

/* Ajuste para el título */
.modal h2 {
  margin: 0;
  font-size: 1.5rem;
}

/* Ajuste para el contenido */
.modal p {
  margin: 0;
  color: #444;
  line-height: 1.5;
}

.modal-buttons {
  display: flex;
  justify-content: center; /* Centra los botones */
  gap: 15px;               /* Espacio entre botones */
  margin-top: 20px;
}

.modal-buttons button {
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.chart-section {
  background: white;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
  height: 400px; /* Un poco más de espacio para la gráfica */
  color:black;
}

.chart-section h2 {
    color: #1e3a8a;
    font-size: 1.2rem;
    margin-bottom: 15px;
}



/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 500px;

}




